div.v-app-loading{background-image:url(images/loading-animation.gif);background-repeat:no-repeat;background-position:50%;width:100%;height:100%}

.v-loading-indicator,
.v-loading-indicator-delay,
.v-loading-indicator-wait {
    z-index: 30000;

    width: 100%;
    height: 100%;
    margin: 0;
    background: transparent;
    background-image: url(../images/loading-animation.gif);
    background-position: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.v-loading-indicator-delay {
    background-image: url(../images/loading-animation.gif);
}

.v-loading-indicator-wait {
    background-image: url(../images/loading-animation.gif);
}

.v-generated-body,
.v-app {
    background: #fff;
}
/* Global font styles */
.v-app,
.v-window,
.v-popupview-popup,
.v-tooltip,
.v-app input,
.v-app select,
.v-app button,
.v-app textarea,
.v-window input,
.v-window select,
.v-window button,
.v-window textarea,
.v-popupview-popup input,
.v-popupview-popup select,
.v-popupview-popup button,
.v-popupview-popup textarea,
.v-filterselect-suggestpopup,
.v-datefield-popup,
.v-contextmenu,
.v-menubar-submenu,
.v-drag-element,
.v-table-header-drag {
    font-family: "Open Sans", "Segoe UI","Helvetica Neue", Arial, sans-serif;
    font-size: 13px;
    line-height: normal;
    color: #333;
}

.v-Notification {
    width: 300px;
    margin-top: 20px !important;
    border-radius: 10px;
    color: #fff;
    background: #02AC1E;

    font-family: "Open Sans", "Segoe UI","Helvetica Neue", Arial, sans-serif;
    font-size: 13px;
    line-height: normal;
}
.v-Notification.v-Notification-error {
    color: #fff;
    border: none;
    background: #990000 url(../images/v_x.png) no-repeat 97% 10px;
}
.v-Notification.v-Notification-warning{color:#fff;border:0;background:#C99808 }

.v-Notification .gwt-HTML {
    margin: 10px; margin-top: 15px;
}

.v-Notification .gwt-HTML h1 {
    display: block;
    line-height: 19pt;
    font-weight: 500; font-size: 19pt;
}
.v-Notification .gwt-HTML p br {
    display: none;
}
.v-Notification .gwt-HTML p  {
    display: block;
    margin-top: 5px; padding: 0;
    line-height: normal;
    font-size: 13px; font-weight: 300;
}

.v-window-modalitycurtain {
    background: #fff;
}