.v-table {
    border-radius: 10px;
    border: none;
}

.v-table-body {
    background: #e3e3e3;
}

.v-table-header-wrap,
.white .v-table-header-wrap,
.v-table-footer-wrap,
.white .v-table-footer-wrap,
.v-table-header-drag {
    border-color: transparent;
    background-image: none;
    background-color: #e3e3e3;
    font-size: 12px;
    text-shadow: none;
    height: 25px;
    color: #615d5e;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid #cecece;
}

.v-table-body,
.white .v-table-body {
    border-color: transparent;
}

.v-table-cell-content {
    /* border-bottom: 1px solid #cecece; */
    border-right-color: #cecece;
}



.v-table-table{
    border-collapse: inherit;
    border: 0px;
}

.v-table-table{
    border-collapse: inherit;
    border: 0px;
}
.v-table-row, .v-table-row-odd {
    background: #e3e3e3;
    color: #615d5e;
}

.v-table-row-odd {
    background: #dadada;
}

.v-table-header, .v-table-resizer {
    height: 25px;
}

.v-table-header td:last-of-type .v-table-resizer {
    border:none;
}

.v-table-column-selector {
    margin-top: -25px;
}

.v-table .v-selected,
.black .v-table .v-selected {
    background: #BED6B2;
    color: #615d5e;
    text-shadow: none;
}

.v-table-header-cell-asc .v-table-sort-indicator {
    background-position: center -841px;
    position:relative; top: 8px;
}

.v-table-header-cell-desc .v-table-sort-indicator {
    background-position: center -830px;
    position:relative; top: 8px;
}

/* column selector */
.v-table-column-selector:active {
    background-position: left -1005px;
}

.v-table-column-selector {
    margin-top: -20px;
    background: transparent no-repeat;
    background-image: none;

    color: grey;
    position: relative;
    top: 1px;

    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;

}

.v-table-column-selector:before {
    content: "\e056";
}

.v-table-column-selector:active {
    background-image: none;
}

.v-table-focus .v-table-cell-content {
    border-top: 1px dotted #BED6B2;
    border-bottom: 1px dotted #BED6B2;
}

.v-table .v-selected .v-table-cell-content {
    border-right-color: inherit;
}

