/* Default & white style */

.v-table-header-wrap,
.white .v-table-header-wrap,
.v-table-footer-wrap,
.white .v-table-footer-wrap,
.v-table-header-drag {
    border-color: #ddd;
    background-image: none;
    background-color: #f5f5f5;
    font-size: 12px;
    text-shadow: none;
    height: 25px;
    color: #333;
}

.v-table-body,
.white .v-table-body {
    border-color: #ddd;
}

.v-table-cell-content {
    border-right-color: #ddd;
}

.v-table-row-odd {
    background: #f9f9f9;
}

.v-table-header, .v-table-resizer {
    height: 25px;
}

.v-table-column-selector {
    margin-top: -25px;
}

.v-table .v-selected,
.black .v-table .v-selected {
    background: #428bca;
    color: #fff;
    text-shadow: none;
}

.v-table-header-cell-asc .v-table-sort-indicator {
    background-position: center -841px;
    position:relative; top: 8px;
}

.v-table-header-cell-desc .v-table-sort-indicator {
    background-position: center -830px;
    position:relative; top: 8px;
}

/* column selector */
.v-table-column-selector:active {
    background-position: left -1005px;
}


.v-table-column-selector {
    margin-top: -20px;
    background: transparent no-repeat;
    background-image: none;

    color: grey;
    position: relative;
    top: 1px;

    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;

}

.v-table-column-selector:before {
    content: "\e011";
}
.v-table-column-selector:active {
    background-image: none;
}

.v-table-resizer {
    border: none;
}