@import url(../reindeer/styles.css);
@import "fonts/font.css";
@import "glyphs/glyphs.css";
@import "common/common.css";
@import "button/button.css";
@import "label/label.css";
@import "table/table.css";

body {
    box-sizing: border-box;
}

/* Accordion */
.v-accordion {
     border: 1px solid #dcdcdc;
     border-radius: 3px;
     background: #f6f6f6;
 }

.v-accordion-item-caption {
    height: 25px;
    background: #e3e3e3;
    font-size: 14px;
    border: none;

    border-radius: 3px;
    margin: 5px;
    box-sizing: border-box;
    font-weight: 600;
}

.v-accordion-item-open .v-accordion-item-caption {
    background: #e3e3e3;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
}

.v-accordion-item-first .v-accordion-item-caption {
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
}



/* WINDOW */
.v-window-light .v-window-closebox {
    top: 12px;
    right: 10px;
    width: 20px;
    height: 20px;
    background: transparent;
    background-image: none;

    color: #cccccc;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    padding: 2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;

    /*background: #d2322d;
    border: 1px solid #ac2925;
    */
}
.v-window-light .v-window-closebox:hover {
    background: transparent;
    background-image: none;

    color: #aaa;

}
.v-window-light .v-window-closebox:active {
    background: transparent;
    background-image: none;

    color: #aaa;

}

.v-window-light .v-window-closebox:before {
    content: "\e014";
}

/* TREE (MOVE TO COMMONS) */
.v-tree-node span {
    padding: 1px 2px;
    margin-left: 5px;
    display: inline-block;
}
.v-tree-node-selected span {
    background: none;
    background-color: #BED6B2;
    background-position: left -1876px;
    color: #615d5e;
    padding: 1px 5px !important;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    text-shadow: none;
    display: inline-block;
}

.v-tree-node-focused span{
    /* border: 1px solid #285e8e; */
    border: none;
}


/* selectbox */

.v-filterselect-suggestmenu .gwt-MenuItem-selected {
    background: #BED6B2;
    background-image: none;	color: #615d5e;
    text-shadow: none;
}

.v-filterselect-suggestpopup {
    background: #fff;
}

.v-filterselect-status {
    text-shadow: none;
    line-height: 11px;
    background-color: #e9e9e9;
    background-image: none;
}

.v-filterselect-nextpage:hover, .v-filterselect-prevpage:hover {
    background-image: none;
    background-color: #e9e9e9;
}


/* date field */
.v-sa .v-datefield-popup,
.v-ff3 .v-datefield-popup,
.v-op .v-datefield-popup {
    background: #fff;
}

.v-datefield-calendarpanel-weekdays td {
    background-color: transparent;
    background-image: none;
    text-shadow: none;
    color: black;
}

.v-datefield-calendarpanel-weekdays .v-first {
    background-image: none;
}
.v-datefield-calendarpanel-weekdays .v-last {
    background-image: none;
}


.v-datefield-calendarpanel-weekdays strong {
    border-top: none;
}

.v-datefield-calendarpanel-day-selected {
    background: #BED6B2;
    color: #615d5e;
    outline: none;
    text-shadow: none;
}

/* Text Field */
.v-textfield,
.v-textarea,
.white .v-textfield,
.white .v-textarea,
div.v-table-full-height-fields input.v-textfield {
    background-image: none;
}

/* Twin Col Buttons */
.v-select-twincol-buttons .v-button {
    margin: 8px;
}

/* context menu */
.v-contextmenu {
    background: #fff;
}
.v-contextmenu .gwt-MenuItem-selected {
    background: #BED6B2;
    color: #615d5e;
    text-shadow: none;

}
.v-ie .v-contextmenu .gwt-MenuItem-selected {
    background: #BED6B2;
    color: #615d5e;
}

.v-contextmenu .gwt-MenuItem-selected div {
    color: #615d5e;
}

/* row in column selector */
.v-contextmenu .v-on,
.v-contextmenu .v-off {
    background-image: none;
}

.v-contextmenu .gwt-MenuItem-selected .v-on {
    background-image: none;
}

/* split panel */
.v-splitpanel-first-container-gcp-workbench-content-split-panel {
    background-color: #e9e9e9;
}

/* TAB + TABSHEETS */
.v-tabsheet-tabs .v-tabsheet-spacertd div,
.white .v-tabsheet-tabs .v-tabsheet-spacertd div {
    border-bottom: 1px solid #bfbfbf;
    height: auto;
    background: transparent;
}
.v-tabsheet-tabs .v-tabsheet-tabitemcell,
.v-tabsheet-tabs .v-tabsheet-spacertd {
    height: auto;
    background: transparent;
    padding-left: 0;
}
.v-tabsheet-spacertd div {
    margin-right: 0px;
}

.v-tabsheet-tabs .v-tabsheet-tabitem,
.white .v-tabsheet-tabs .v-tabsheet-tabitem {
    border: none;
    border-bottom: 1px solid #bfbfbf;
    color: #4d748f;
    padding: 0;
    height: auto;
    background: transparent;
    text-shadow: none;
}
.v-tabsheet-tabs .v-tabsheet-tabitem .v-caption {
    padding: 5px 16px;
    height: auto;
    background: transparent;
}
.v-tabsheet-tabs .v-tabsheet-tabitemcell-selected {
    background: transparent;
}
.v-tabsheet-tabs .v-tabsheet-tabitem-selected,
.white .v-tabsheet-tabs .v-tabsheet-tabitem-selected {
    background: #f6f6f6;
    border: 1px solid #bfbfbf;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #222;
}
.v-tabsheet-tabs .v-tabsheet-tabitem-selected .v-caption {
    background: transparent;
    padding: 4px 15px 6px 15px;
}
.v-tabsheet-tabs .v-tabsheet-tabitem .v-caption-closable,
.v-tabsheet-tabs .v-tabsheet-tabitem-selected .v-caption-closable {
    padding-right: 6px;
}

.v-sa .v-tabsheet-content,
.v-ff3 .v-tabsheet-content {
    border-color: #bfbfbf;
}

.v-tabsheet-tabsheetpanel {
    background: #f6f6f6;
}

/* TAB + TABSHEETS */
.v-tabsheet-tabs .v-tabsheet-spacertd div,
.white .v-tabsheet-tabs .v-tabsheet-spacertd div {
    border-bottom: 1px solid #e4e4e4;
    height: auto;
    background: transparent;
}
.v-tabsheet-tabs .v-tabsheet-tabitemcell,
.v-tabsheet-tabs .v-tabsheet-spacertd {
    height: auto;
    background: transparent;
    padding-left: 0;
}

.v-tabsheet-tabs .v-tabsheet-tabitemcell {

}


.v-tabsheet-spacertd div {
    margin-right: 0px;
}

.v-tabsheet-tabs .v-tabsheet-tabitem,
.white .v-tabsheet-tabs .v-tabsheet-tabitem {
    border-bottom: 1px solid #e4e4e4;
    padding: 0;
    height: auto;
    background: transparent;
    text-shadow: none;
}



.v-tabsheet-tabs .v-tabsheet-tabitem .v-caption {
    padding: 5px 16px;
    height: auto;
    background: #eee;
    border-radius: 3px 3px 0px 0px;
    margin-left: 3px;
    margin-right: 3px;
    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    font-weight: bold;
    color: #615d5e;
}

.v-tabsheet-tabs .v-tabsheet-tabitemcell-selected {
    background: transparent;
}

.v-tabsheet-tabs .v-tabsheet-tabitem-selected,
.white .v-tabsheet-tabs .v-tabsheet-tabitem-selected {
    background: #f6f6f6;
    border: 1px solid #e4e4e4;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #222;
}



.v-tabsheet-tabs .v-tabsheet-tabitem-selected .v-caption {
    background: transparent;
    padding: 4px 15px 6px 15px;

    border: 0px;
}


.v-tabsheet-tabs .v-tabsheet-tabitem .v-caption-closable,
.v-tabsheet-tabs .v-tabsheet-tabitem-selected .v-caption-closable {
    padding-right: 6px;
}

.v-sa .v-tabsheet-content,
.v-ff3 .v-tabsheet-content {
    border-color: #e4e4e4;
}

.v-tabsheet-tabsheetpanel {
    background: #f6f6f6;
}

/* tabs close ICON */
.v-tabsheet-tabs .v-tabsheet-caption-close,
.v-tabsheet-tabs .v-tabsheet-caption-close:hover,
.v-tabsheet-tabs .v-tabsheet-caption-close:active {
    text-indent: 0;
    background: transparent;
    margin-left: 3px;
    margin-right: -3px;
    padding: 0;
    color: #999;
    width: 14px;
    height: 14px;
    line-height: 14px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}
.v-tabsheet-tabs .v-tabsheet-caption-close {
    margin-top: 1px;
}
.v-ff .v-tabsheet-tabs .v-tabsheet-caption-close,
.v-ie7 .v-tabsheet-tabs .v-tabsheet-caption-close {
    margin-top: -15px;
}
.v-tabsheet-tabs .v-tabsheet-caption-close:hover,
.white .v-tabsheet-tabs .v-tabsheet-caption-close:hover {
    color: #fff;
    background: #aaa;
}
.v-tabsheet-tabs .v-tabsheet-caption-close:active,
.white .v-tabsheet-tabs .v-tabsheet-caption-close:active {
    background: #777;
}

.v-sa .v-tabsheet-deco,
.v-ff3 .v-tabsheet-deco {
    border-top-color: #e4e4e4;
    background: transparent;
}


.v-popupview-popup {
	background-color: #5A5A5A;
    color: white;
    padding: 20px 20px;
    border-radius: 8px;
    text-align: justify;
}