/**************************
 * Primary style
 **************************/
.v-button-primary:focus {
    border: 1px solid #f97e0a;
    background: #FF8109;

    outline:thin dotted #dd6f03;outline: 1px auto -webkit-focus-ring-color;outline-offset:-3px;
}

.v-button-primary:hover {
    border: 1px solid #f97e0a;
    background: #f9aa60;
}

.v-button-primary:hover .v-button-wrap,
.v-button-primary:focus .v-button-wrap
{
    border: none;
    background: #f9aa60;
}

.v-button-primary:active,
.v-pressed.v-button-primary {
    border: 1px solid #f97e0a;
    background: #FF8109;
}

.v-button-primary:active .v-button-wrap,
.v-pressed.v-button-primary .v-button-wrap {
    border: none;
    background: #FF8109;
}

.v-button-primary:active .v-button-caption,
.v-pressed.v-button-primary .v-button-caption {
    color: #fff;
}

.v-button-primary,
.v-disabled.v-button-primary {
    border: 1px solid #f97e0a;
    background: #FF8109;
    box-sizing: border-box;
    border-radius: 3px;
}

.v-button-primary .v-button-wrap,
.v-disabled.v-button-primary .v-button-wrap {
    box-sizing: border-box;
    background: #FF8109;

    border: none;
    border-radius: 3px;
}

.v-button-primary .v-button-caption {
    color: #fff;
}


/********************************
 * "with-icon" style
 ********************************/
.v-button-primary.with-icon .v-button-wrap {
    padding-left: 8px;
}