.v-button:focus {
    border: 1px solid #7c7c7c;
    background: #828282;
    outline:thin dotted #333;outline: 1px auto -webkit-focus-ring-color;outline-offset:-3px;

}

.v-button:hover {
    border: 1px solid #6d8462;
    background: #728B66;
}

.v-button:focus .v-button-wrap,
.v-button:hover .v-button-wrap{
    border: #7c7c7c;
    background: #728B66;
}

.v-button:active,
.v-pressed.v-button {
    border: 1px solid #7c7c7c;
    background: #828282;
}

.v-button:active .v-button-wrap,
.v-pressed.v-button .v-button-wrap {
    border: #7c7c7c;
    background: #828282;
}

.v-button,
.v-disabled.v-button {
    border: 1px solid #7c7c7c;
    background: #828282;
    box-sizing: border-box;
    border-radius: 3px;
    cursor: pointer;
}

.v-button-wrap,
.v-disabled.v-button .v-button-wrap {
    box-sizing: border-box;
    background: #828282;
    border: #7c7c7c;
    border-radius: 3px;
    height: 20px;
}

.v-button-caption {
    font-family: "Helvetica Neue","Segoe UI","Arial",sans-serif;
    color: white;
    font-weight: bold;
    text-shadow: none;
    font-size:12px;
}

/********************************
 * "with-icon" style
 ********************************/
.v-button-with-icon .v-button-wrap {
    padding-left: 2px;
}